*{
	padding:0px;


}
body{
	background-color: #E9E67E;
}

h4 {
	padding: 5px;
	color:red;
	text-align:center;
}
h3{
	text-align: center;
}
button:hover{
	background-color:gray;
	color:red;
	width:7%;
	height:9%;
	margin:10px red ;
}
ol{
	background-color: gray;
	margin:10px 10px;

	width:10%;
}
ol:hover{
	color:red;
}


.formm .formma{
	padding-left:30%;
}
.topic{
	background-color:#462C2C;
	color:white;
	word-break: normal;
	border:4px red solid;

}








